/*ceci est un commentaire*/
@font-face { /*importation de la police 1*/
    font-family: 'codec pro';
    src: url('../../fonts/Codec_Pro_ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root { /*variable accessible partout dans le code CSS*/
    --poppins: "codec pro", sans-serif;

    --bgColor: #101728;
    --h1SizeQuestionnaire: 2em;
    --textColor: #ffffff;

    --aside-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins), "Times New Roman", Times, serif;
}

html, body {
    height: 100%;    /*prends toute la hauteur visible de la fenêtre*/
}

main {
    min-height: 100%;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
}

/*
debut aside
*/
aside{
    background-color: #252d76;
    height: 100%;
    border-radius: 0 37px 37px 0;
    border: none;

    display: flex;
    flex-direction: column;

    gap: 16px;
    overflow-y: auto;

    padding: 0; /* important */
}

.aside_haut,
.aside_bas{
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    flex: 0 0 auto;
}

/* le “remplisseur” */
.space{
    flex: 1 1 auto;         /* prend tout l’espace restant */
    min-height: 0;          /* important pour que overflow-y marche bien */
}

/* bouton en bas */
.bouton_param{
    flex: 0 0 auto;
    width: 100%;
    height: 60px;

    margin: 0;        /* colle au bas */
    border-radius: 0 74px 74px 0;
}
/*
fin aside
*/

.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: grid;
    grid-template-columns: var(--aside-width) 150px 1fr 150px;
    grid-template-areas: "vide left center right";

    align-items: center;

    pointer-events: none;
}

.position_1, .position_2 {
    justify-self: center;
}

.position_1 {
    grid-area: left;
}

.position_2 {
    grid-area: right;
}

.section {
    position: relative; /* devient le référent */
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px 1fr;
}

p, h1, h2, h3, h4, label {
    color: white;
}

.texte-non-selectionnable {
    user-select: none;
    -webkit-user-select: none;
}

h1 {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 4em;
    text-decoration: underline;
    letter-spacing: 0.02em;
}

h2 {
    justify-self: center;
    align-self: center;
    font-size: 1.7em;
    opacity: 0.95;
}
