body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.sous_corps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pied {
    justify-self: center;
    align-self: center;
}