body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.champ_texte {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;

    justify-self: center;
}

.sous_corps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.pied {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stats-chart {
    width: min(900px, 90%);
    height: 320px;
    background-color: #ffffff0f;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 0 1px #ffffff22 inset;
}

#stats-chart {
    width: 100%;
    height: 100%;
    display: block;
}

.stats-empty {
    color: #ffffffb5;
    min-height: 1.2em;
}
