body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.champ_texte {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;

    justify-self: center;
}

.sous_corps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pied {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#texte_genere {
    background: white;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    font-size: 2em;
    color: black;
    font-family: "Times New Roman", Times, serif;
}