body {
    background-image: url('../../image/fond_menu.png');  /*couleur de fond*/
    background-repeat: no-repeat;
    background-size: cover;
}

#demarrer {
    justify-self: center;
    align-self: center;
}