body {
    background-image: url('../../image/fond_menu.png');  /*couleur de fond*/
    background-repeat: no-repeat;
    background-size: cover;
}

.corps {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}