body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.gauche {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 2fr;
}

.milieu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.droite {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 2fr;
}

.jsp {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#affiche_film_1 {
    width: 50%;
    height: auto;
}

#affiche_film_2 {
    width: 60%;
    height: auto;
}

#affiche_film_3 {
    width: 40%;
    height: auto;
}

.quitter {
    justify-self: center;
    align-content: center;
}