body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.cote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.milieu {
    background: black;
    height: 80%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 80%;
    height: auto;
}

#nom {
    font-size: 1.5em;
}