body {
    background-image: url('../../image/fond_menu.png');  /*couleur de fond*/
    background-repeat: no-repeat;
    background-size: cover;
}

.corps {
    width:60%;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: space-between;
}