body {
    background-image: url('../../image/fond_menu.png');  /*couleur de fond*/
    background-repeat: no-repeat;
    background-size: cover;
}

.corps {
    width: 100%;
    justify-self: center;
    align-self: center;

    justify-items: center;
}

.centre {
    width: 50%;
    min-width: 400px;

    display: flex;
    justify-content: space-between;
}