body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 1fr;
}

.sous_corps {
    background: #a6a6a6;
    width: 90%;
    border-radius: 20px;

    padding: 20px;

    justify-self: center;

    display: grid;
    grid-auto-rows: 80px;
    grid-template-columns: auto;
}

.ligne {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 50px 1fr;

    align-items: center;
}

.image {
    width: 80%;
    height: auto;
}

.pied {
    height: 100px;

    justify-self: center;
}

p {
    font-size: 1.1em
}

#sauvegarde_info {
    justify-self: center;
    margin-top: 0.5rem;
}
