body {
    background-image: url('../../image/fond_menu.png');  /*couleur de fond*/
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 10%;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 4%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

.zone_bouton {
    width: 30%;
    min-width: 400px;
    height: 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bouton_centre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}