body {
    background-color: var(--bgColor);
}

h1 {
    font-size: var(--h1SizeQuestionnaire);
}

.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.sous_corps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pied {
    display: grid;
    grid-template-rows: 1fr 1fr;

    justify-items: center;
}

.select, .boutons {
    align-self: center;
    justify-items: center;
}

.boutons {
    width: 50%;
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.choix {
    width: 300px;
    height: 40px;
    border-radius: 74px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-align-last: center;
}