body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
header {
    width: 100%;
    height: 10%;
    padding: 0 8%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 4%;
    pointer-events: none;
}

main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100%;
}

section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 5fr 2fr;
}

#options {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 4em;
    text-decoration: underline;
}

.corps {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 2px 1fr;
}

.corps_titre {
    width: 80%;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px 1fr 1fr;

    justify-self: center;
}

#sous_titre_1 {
    justify-self: center;
}

.barre {
    background: white;
    height: 100%;
    align-self: end;
}

#sous_titre_2 {
    justify-self: center;
}

.stat {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
}
.texte_precis {
    color: white;
    justify-self: end;
}

.texte_stat {
    color: white;
    justify-self: start;
}

.pied {
    display: flex;
    justify-content: space-around;
    align-items: center;
}