body {
    background-color: var(--bgColor);
}

h1 {
    font-size: var(--h1SizeQuestionnaire);
}

.corps {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.sous_corps {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.champ {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.pied {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.objet {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.champ_texte {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;

    justify-self: center;
}