body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.sous_corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    padding: 0 0 30px 0;
}

.reponse-affichee {
    margin-top: 15px;
    min-height: 20px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.champ_texte {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
}

.pied {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
