body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    height: 100%;

    display: grid;
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr;
}

.sous_corps {
    background: #a6a6a6;
    width: 90%;
    height: 100%;
    border-radius: 30px;

    justify-self: center;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.container {
    background: #545454;
    width: 90%;
    height: 80%;
    border-radius: 20px;

    justify-self: center;
    align-content: center;
    justify-items: center;

    padding: 30px;
}

.pied {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}